.auto-drop-down {
  display: flex;
  flex-direction: column;
  width: 100%;
  .search {
    input {
      width: 20rem;
    }
    label {
      display: flex;
      justify-content: flex-start;
    }
  }
  .options {
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }

  .options li:hover {background-color: #ddd;}

  .option-active {background-color: #ddd}

  .options li:focus {background-color: #ddd}
}
