.project-form {
    .header {
        width: 100%;
        border-bottom: 1px solid gray;
        font-size: 18px;
        text-align: center;
        padding: 5px;
    }
    form  {
        .content {
            display: flex;
            width: 100%;
            padding: 2rem 0 0 2rem;
            error {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0.5rem 0 0 15rem;
                color: #db0c2b;
            }
        }

        .actions {
            position: absolute;
            width: 100%;
            padding: 10px 5px;
            margin: auto;
            text-align: center;
            bottom: 0;
        }
    }
}

