
.project-page {
    display: flex;
    justify-content: center;
    height: 50rem;

    .MuiTabs-vertical {
        min-width: 10rem;
    }

    .MuiAvatar-img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }

    .add-new {
        .MuiAvatar-img {
            width: 2rem;
            height: 2rem;
        }
    }

    table {
        th:nth-last-child(n+3) {
            min-width: 13rem;
        }
    }
}



.ReactModalPortal {
    .ReactModal__Content {
        border-radius: 15px !important;
        box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
    }

    .modalClose {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 1rem;
        padding-right: 1rem;
    }
}

.project-page__content {
    align-items: center;
    padding-left: 2rem;
}

.project-page-new-project-button {
    width: 94px;
    height: 30px;
    cursor: pointer;
    object-fit: contain;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #021e2b;
    border-radius: 52px;
    border: solid 1px #478792;
    outline: none;
}